.advantages {
    min-height: 472px;
    padding: 73px 0 65px 0;
    background-color: #F6F6F6;
    &__items {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 272px;
        display: flex;
        flex-direction: column;
        &:not(:first-child) {
            margin-left: 65px;
        }
    }
    &__icon {
        img {
            display: block;
            width: 70px;
            margin: 0 auto;
        }
        &_animated {
            animation: heartbeat 1.5s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }  
         
    }
    &__label {
        margin: 0 auto;
        margin-top: 35px;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        
    }
    &__descr {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
    }
            

}